header {
    box-shadow: 0 0 10px #686464;
}

.collumns {
    height: 90vh;
}

.colLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colLeft img {
    max-width: 100%;
    height: auto;
}

.links {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.panelLogin {
    border-radius: 1rem;
    margin: 80px 0px;
    background-color: rgb(234, 234, 234);
}

.titulo {
    display: flex;
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: bold;
    font-size: 17pt;
    margin-bottom: 0;
    margin-top: 15px;
    justify-content: center;
}

.fraseTitulo {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 35pt;
    line-height: 45pt;
}

.fraseSubtitulo {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

.subrayado {
    display: flex;
    margin: auto;
    max-width: 100%;
}

.registrate {
    color: white;
}

.texto {
    font-size: small;
}

.imagenPrincipal {
    border-radius: 20px;
}

footer{
    width: 100%;
    margin: auto; 
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer #social a{
    padding: 10px;/*lo pongo aca porque quiero separar los a, no las img*/
}

footer #social img{
    width: 30px;
}

.fondo{
    background: url(../img/fondo\ loging.svg);
    background-repeat: no-repeat;
    background-size: auto;
}