.collumns {
    height: 90vh;
}

.colLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colLeft img {
    max-width: 100%;
    height: auto;
}

.links {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.panelLogin {
    border-radius: 1rem;
    margin: 80px 0px;
    background-color: rgb(234, 234, 234);
}

.titulo {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: bold;
    font-size: 17pt;
    margin-bottom: 0;
    margin-top: 15px;
}

.subrayado {
    margin-top: 0;
    max-width: 80%;
}

.registrate {
    color: white;
}