header {
  box-shadow: 0 0 10px #686464;
}

.collumns {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.colLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.colLeft img {
  position: absolute;
  left: 75px;
  top: 50px;
  width: 200px;
}

.colLeft img {
  max-width: 100%;
  height: auto;
}

.links {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-weight: bold;
}

.panelLogin {
  border-radius: 1rem;
  margin: 80px 0px;
  background-color: rgb(234, 234, 234);
}

.titulo {
  display: flex;
  font-family: "Source Code Pro", monospace;
  color: black;
  font-weight: bold;
  font-size: 17pt;
  margin-bottom: 0;
  margin-top: 15px;
  justify-content: center;
}

.fraseTitulo {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 35pt;
  line-height: 45pt;
}

.fraseSubtitulo {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 17pt;
}

.subrayado {
  margin-top: 0;
  margin-bottom: 20px;
}

.imgSubrayado {
  object-fit: cover;
}

.registrate {
  color: white;
}

.conoceMas:hover {
  color: blue;
}

.bodyLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.fondo {
  position: relative;
  background-color: white;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(../img/fondo\ loging.svg);
  background-repeat: no-repeat;
  background-size: auto 85%;
  background-position: bottom left;
}

.fondoBlanco {
  border-radius: 50px;
  background-color: white;
  width: 95%;
  height: 95%;
}

.fondoIndex {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  margin: auto;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

footer #social a {
  padding: 10px;
  /*lo pongo aca porque quiero separar los a, no las img*/
}

footer #social img {
  width: 30px;
}

.imgRedes:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.texto {
  font-size: smaller;
}

.iniciarSesion {
  text-decoration: none;
  color: white;
}

.iniciarSesion:hover {
  color: white;
}

#dolar {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-weight: medium;
  font-size: 12pt;
}

.valorDolar {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 12pt;
}

@media screen and (max-width: 768px) {
  .colLeft {
    display: none;
  }
  .panelLogin {
    max-width: 90%;
    margin: 35% 0px;
  }
}
@media screen and (max-width: 991px) {
  .collumns {
    height: auto;
  }
}
