@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
}

.mainBalance {
  font-size: 2.5rem;
  font-family: "Space Mono", monospace;
  color: rgb(68, 68, 68);
}
