* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    background-color: rgb(236, 236, 236);
}

nav {
    min-height: 100vh;
    width: 300px;
}

nav ul {
    max-width: 175px;
    margin: auto;
    margin-top: 3rem;
}

nav ul li {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    /* gap: 1rem; */
    margin: 1.5rem 1.5rem 1.5rem 0;
    padding: 1.5rem;
    border-radius: 0 2rem 2rem 0;
    border-left: .625rem black solid;
}

main .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

main .right {
    display: flex;
    flex: 1 1 0px;
    margin-left: 1rem;
}

main section {
    /* width: 100%;
    /* height: 100%; */
}

main .saldo {
    /* background-color: darkorange; */
    width: 100%;
    margin-bottom: 1rem;
    height: initial !important;
}

main .transferencias {
    /* background-color: brown; */
    width: 100%;
}

main .tarjetas {
    /* background-color: chartreuse; */
}

main .boxContainer {
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(234, 234, 234);
}

.balanceContainer {
    display: flex;
    flex-direction: row;
}

.balanceContainer .account {
    flex: 1 1 0px;
}