header {
    box-shadow: 0 0 10px #686464;
}

.collumns {
    height: 90%;
}

.colLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colLeft img {
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}

.wrap {
    margin: auto;
    max-width: 800px;
    width: 90%;
}

.principal {
    border-radius: 1rem;
    margin: 50px 230px;
    /* background: #dad8d8; */
    /* border-top: 20px solid #dad8d8; */
    /* color: #fff; */
    padding: 50px 0;
    width: 50%;
    box-shadow: 0 0 10px #686464;
}

.principal .formulario {
    color: #212121;
    text-align: center;
}

.principal .formulario input[type=text] {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.principal .formulario input[type=text].error {
    border: 5px solid #D32F2F;
    color: red;
}

/* - Nombres - */
.listaGastos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* background: #c9c9c9; */
    font-size: 16px;
    padding: 10px;
    border-radius: 0.5rem;    
}

.nombres .lista {
    list-style: none;
}

.nombres .lista li {
    border-bottom: 1px solid #B6B6B6;
}

.nombres .lista li a {
    color: #212121;
    text-decoration: none;
}

/* .nombres .lista li a:hover {
 text-decoration: line-through; 
} */

.titulo {
    display: flex;
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: medium;
    font-size: 17pt;
    margin-bottom: 0px;
    margin-top: 15px;
    align-items: flex-start;
}

.subrayado {
    display: flex;
    margin: auto;
    max-width: 100%;
}

main{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.list-group-item{
    margin-bottom:1rem;
}

.list-group-item::before{
    font-weight: bold;
}

#gastoDividido{
    margin-top: 1rem;
}