{% extends 'Login/base.html' %} {% load static %} {% block content %}

<body class="fondoIndex">
  <header>{% include 'Login/navbar.html' %}</header>
  <section class="d-flex justify-content-center align-item-center">
    <div class="col-sm-12 col-md-3 panelLogin">
      <p class="align-self-start titulo wow animate__animated animate__pulse">
        REGISTRATE
      </p>
      <div class="subrayado">
        <img
          class="imgSubrayado rounded"
          width="100%"
          height="10px"
          src="{% static 'img/Barrita colores.svg' %}"
          alt=""
        />
      </div>
      <div
        class="d-flex flex-column justify-content-center align-items-center h-130"
      >
        <form
          class="site-form d-flex justify-content-center flex-column align-items-center"
          action=""
          method="post"
        >
          {% csrf_token %}
          <p>Usuario</p>
          {{form.username}}
          <p>Contraseña</p>
          {{form.password1}}
          <p>Repetir Contraseña</p>
          {{form.password2}} {% if form.errors %}
          <div class="alert alert-danger mt-2">{{form.errors}}</div>
          {% endif %}
          <input
            type="submit"
            value="Registrarse"
            class="btn btn-secondary mb-4"
          />
        </form>
      </div>
    </div>
  </section>
</body>

{% endblock%}
