{% load static %}
<!--redes a mostrar: github, facebook, instagram, twitter, reddit-->
<div id="copyright">© 2022 Derechos - Términos y condiciones - Grupo 7.</div>

<div id="social">
  <a href="#"
    ><img
      src="{% static './img/logos footer/logo-reddit.svg' %}"
      class="imgRedes"
  /></a>
  <a href="#"
    ><img
      src="{% static './img/logos footer/logo-instagram.svg' %}"
      class="imgRedes"
  /></a>
  <a href="#"
    ><img
      src="{% static './img/logos footer/logo-github.svg' %}"
      class="imgRedes"
  /></a>
  <a href="#"
    ><img
      src="{% static './img/logos footer/logo-facebook.svg' %}"
      class="imgRedes"
  /></a>
  <a href="#"
    ><img
      src="{% static './img/logos footer/logo-twitter.png' %}"
      class="imgRedes"
  /></a>
</div>
